# Sets

* A set is an unordered and mutable collection of unique elements.
* Sets are defined using curly braces '{}' and can contain a variety of data types, including numbers, strings, and other sets.
* Sets are useful for tasks that involve testing membership, removing duplicates from a sequence, and performing set operations such as union, intersection, and difference.

In [2]:
Students = {"Peter", "Rachel", "Maria", "John", "Rachel", "Farai", "Peter"}
print(Students)

{'John', 'Maria', 'Farai', 'Peter', 'Rachel'}

In [3]:
print(len(Students))

5

In [4]:
print(type(Students))

<class 'set'>

In [6]:
#Note: The values True and 1 are considered the same value in sets and treated as duplicates:
animals = {"dog", "cat", True, 2, 1, 5}
print(animals)

{'cat', True, 2, 5, 'dog'}

In [7]:
# Using the set() constructor to make a set:
Students = set(("Peter", "Rachel", "Maria", "John", "Adam"))
print(Students)

{'Maria', 'Rachel', 'John', 'Adam', 'Peter'}

### Access set items

* Items can not be accessed through index or key reference
* But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [8]:
print("John" in Students)

True

### Add set items

* Once a set is created, you cannot change its items, but you can add new items.
* Add an item to a set, using the add() method:
* To add items from another set into the current set, use the update() method.

In [9]:
Students.add("Jack")
print(Students)

{'Maria', 'Jack', 'Rachel', 'John', 'Adam', 'Peter'}

In [10]:
Students1 = {"Nigel", "Thompson", "Petros"}
Students.update(Students1)
print(Students)

{'Maria', 'Thompson', 'Jack', 'Rachel', 'John', 'Adam', 'Peter', 'Nigel', 'Petros'}

## Set items remove

In [11]:
# remove() method, discard() method, pop() method remove a random item, 
# clear() method empties the set, the del keyword will delete the set completely
Students.remove("Rachel")
print(Students)

{'Maria', 'Thompson', 'Jack', 'John', 'Adam', 'Peter', 'Nigel', 'Petros'}

In [12]:
Students1 = {"Nigel", "Thompson", "Petros"}
Students1.discard("Petros")
print(Students1)

{'Nigel', 'Thompson'}

In [13]:
Students1 = {"Nigel", "Thompson", "Petros"}
x = Students1.pop()
print(x)
print(Students1)

Petros
{'Nigel', 'Thompson'}

In [14]:
Students1 = {"Nigel", "Thompson", "Petros"}
Students1.clear()
print(Students1)

set()

In [15]:
Students1 = {"Nigel", "Thompson", "Petros"}
del Students1

### Join two sets

In [16]:
# union() method return a new set with  all items from both sets
animals = {"dog", "cat", "donkey", "cow"}
numbers = {1, 3, 5, 7, 9}
sum1 = animals.union(numbers)
print(sum1)

{'cat', 1, 3, 5, 7, 9, 'dog', 'donkey', 'cow'}

In [18]:
#The intersection_update() method will keep only the items that are present in both sets. (Keep All, But NOT the Duplicates)
animals = {"Petros", "cat", "donkey", "cow"}
Students = {"Nigel", "Thompson", "Petros"}
animals.intersection_update(Students)
print(animals)

{'Petros'}

In [19]:
#The update() method inserts the items in set2 into set1: (Keep ONLY the Duplicates): 
animals = {"Petros", "cat", "donkey", "cow"}
Students = {"Nigel", "Thompson", "Petros"}
animals.update(Students)
print(animals)

{'cat', 'Petros', 'Thompson', 'donkey', 'Nigel', 'cow'}

In [20]:
#The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
animals = {"Petros", "cat", "donkey", "cow"}
Students = {"Nigel", "Thompson", "Petros"}
animals.symmetric_difference_update(Students)
print(animals)

{'cat', 'Thompson', 'donkey', 'Nigel', 'cow'}