# Tuples

* Tuple items are ordered, unchangeable, and allow duplicate values.
* Tuples are written with round brackets.

In [1]:
students = ("Adam", "Sam", "Mimi", "John", "Sam", "Mimi")
print(students)

('Adam', 'Sam', 'Mimi', 'John', 'Sam', 'Mimi')

In [2]:
print(len(students))

6

In [3]:
print(type(students))

<class 'tuple'>

In [5]:
students1 = tuple(("Adam", "Sam", "Mimi", "Sam"))
print(students1)

('Adam', 'Sam', 'Mimi', 'Sam')

## Access tuple items

In [8]:
students = ("Adam", "Sam", "Mimi", "John", "Peter", "Leeroy")
print(students[1])
print(students[-1])
print(students[2:5])
print(students[:4])
print(students[2:])
print(students[-4:-1])

Sam
Leeroy
('Mimi', 'John', 'Peter')
('Adam', 'Sam', 'Mimi', 'John')
('Mimi', 'John', 'Peter', 'Leeroy')
('Mimi', 'John', 'Peter')

## Tuple updating

* Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.
* But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [9]:
# Convert the tuple into a list, add "Maria", and convert it back into a tuple:
students = ("Adam", "Sam", "Mimi", "John", "Peter", "Leeroy")
y = list(students)
y.append("Maria")
students = tuple(y)
print(students)

('Adam', 'Sam', 'Mimi', 'John', 'Peter', 'Leeroy', 'Maria')

In [11]:
#Convert the tuple into a list, remove "Peter", and convert it back into a tuple:
students = ("Adam", "Sam", "Mimi", "John", "Peter", "Leeroy")
y = list(students)
y.remove("Peter")
students = tuple(y)
print(students)

('Adam', 'Sam', 'Mimi', 'John', 'Leeroy')

In [12]:
# The del keyword can delete the tuple completely
students = ("Adam", "Sam", "Mimi", "John", "Peter", "Leeroy")
del students

## Tuples unpack

* When we create a tuple, we normally assign values to it. 
* This is called "packing" a tuple: But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [14]:
students = ("Adam", "Sam", "Mimi", "John", "Peter", "Leeroy")
(Rose, Ruby, *Ronnie) = students
print(Rose)
print(Ruby)
print(Ronnie)

Adam
Sam
['Mimi', 'John', 'Peter', 'Leeroy']

## Tuples loops

* Print all items by referring to their index number: 
* Print all items, using a while loop to go through all the index numbers;

In [15]:
# For Loop method
students = ("Adam", "Sam", "Mimi", "John", "Peter", "Leeroy")
for i in range(len(students)):
    print(students[i])

Adam
Sam
Mimi
John
Peter
Leeroy

In [18]:
# While Loop method
students = ("Adam", "Sam", "Mimi", "John", "Peter", "Leeroy")
i = 0
while i < len(students):
    print(students[i])
    i += 1

Adam
Sam
Mimi
John
Peter
Leeroy